$theme: rgba(15, 98, 254, 1);

$grey: rgba(161, 167, 181, 1);
$grey-light: rgba(240, 246, 254, 1);
$black: rgba(34, 35, 39, 1);
$blue-light: rgba(240, 246, 254, 1);
$white: #fff;



:root {
    --theme: #{$theme};

    --grey: #{$grey};
    --grey-light: #{$grey-light};
    --black: #{$black};
    --blue-light: #{$blue-light};
    --white: #{$white};

    --shadow-header: 0px 3px 10px 0px rgb(0 0 0 / 11%);
    --rad: 2rem;
    --rad-btn: 1.3rem;

    --border: 1px solid rgba(196, 196, 196, 1);

    --padding: 8rem;
    --padding-preview: 4rem;

    // Размеры шрифтов
    --fz: 1.5rem;
   

}