.date {
    display: flex;
    color: var(--grey);
    align-items: center;
    gap: 0.5rem;

    &__numbers {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 2rem;
    }

    &__day {
        font-size: 5rem;
        font-weight: 400;
    }

    @media(max-width: 426px) {
        &__day {
            font-size: 6rem;
        }
    }
}